* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-image: linear-gradient(to right, #cf1c1c, #c2c217);
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container .calculator-body {
  width: 320px;
  background: transparent;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgb(75, 5, 60);
}
.button-group {
  padding: 15px 20px 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}
.button-group button {
  all: unset;
  user-select: none;
  cursor: pointer;
  background: rgb(75, 6, 75);
  color: rgb(157, 255, 0);
  border: none;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  transition: all 300ms ease;
}

.result {
  padding: 20px;
  text-align: right;
  font-size: 1.8em;
  box-shadow: 0 1px 2px rgb(75, 0, 60);
  color: rgb(66, 15, 22);
  font-weight: 550;
  overflow: hidden;
}
button:last-of-type {
  grid-column: 3 / span 2;
  border-radius: 50px;
}
button.re-styled {
  background: rgb(3, 53, 56);
  columns: black;
}
button:active {
  background: white;
  color: black;
  transform: scale(0.87);
}
