* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-image: linear-gradient(to right, #cf1c1c, #c2c217);
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container .calculator-body {
  width: 360px;
  background: transparent;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgb(255, 0, 200);
}
.button-group {
  padding: 15px 20px 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
}
.button-group button {
  all: unset;
  cursor: pointer;
  background: purple;
  color: rgb(157, 255, 0);
  border: none;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  transition: all 300ms ease;
}
button:active {
  background: white;
  color: black;
  transform: scale(0.87);
}
.result {
  padding: 20px;
  text-align: right;
  font-size: 1.8em;
  box-shadow: 0 1px 2px rgb(255, 0, 200);
}
